*, *::before, *::after {
    box-sizing: border-box;   
 }


 body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 }

 /*All Sections*/
 .date{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 0.886rem;
    margin-bottom: 1em;
 }

/* Header Mobile CSS */
 header,nav,.logo-section{
    display: flex;
    flex-direction: row;
 }

 header{
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    width: 100%;
 }

 header,.logo-section{
    align-items: center;
 }

 h1{
    font-family: 'Roboto', sans-serif;
    font-size: 0.813rem;
 }

 .logo{
    width: 23px;
    height: 23px;
    margin-right: 0.2em;
 }

 nav a{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    text-decoration: none;
    color: #000000;
    cursor: pointer;

 }

 nav a:first-child{
    margin-right: 2em;
 }


/* Top-Main Article Mobile CSS */

main{
    width: 100%;
}
 .top-article{
    background-image: url("../images/article-image.png");
    background-repeat: no-repeat;
    background-size: cover;
   background-position: center;
    color: #ffffff;
    min-height: 293px;
    display: flex;
    align-items: end;
    width: 100%;
    
 }

 .top-article-words{
    width: 100%;
    max-width: 600px;
    padding: 0em 1.2em;
    margin-bottom: 1.2em;
  
 }

 h2{
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.3em;
 }

 .article-info{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.4;
 }

 /*Grid Area Mobile*/

 .grid-area{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   width: 100%;
   padding: 0em 1.2em;
   margin-top: 2em;
   row-gap: 2em;
 }

 .grid-image{
   width: 100%;
   margin-bottom: 1em;
 }

 .date-grid{
   font-size: 0.875rem;
 }

 h3{
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 700;
   font-size: 1.5rem;
 }

 .grid-text{
   margin-top: 1em;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
   line-height: 1;
   color: #505050;
   line-height: 1.4;
 }

 .hidden{
   display: none;
 }

 



 @media screen and (min-width:1024px) {

    /*All Sections Desktop*/
    .date{
        font-size: 1rem;
    }

    /* Header Desktop CSS */

    header{
        padding: 1em 3em;
        max-width: 1085px;
     }

    .logo{
        width: 34.25px;
        height: 34.25px;
    }

    h1{
        font-size: 1.253rem;
    }

    nav a{
        font-size: 1rem;
    
     }


    /* Top-Main Article desktop CSS */
    .top-article{
        display: flex;
        justify-content: center;
        height: 488px;
       
     }

     .top-article-words{
        max-width: 1085px;
        padding: 0em 3em;
        margin-bottom: 4em;
     }

     .article-info{
        max-width: 620px;
     }

     h2{
        font-size: 2.5rem;
     }

      /*Grid Area Desktop*/

 .grid-area{
   
   padding: 0em 3em;
   max-width: 1085px;
 }

   
 }

 