*, *::before, *::after {
    box-sizing: border-box;   
 }

 /*All Sections*/
 .date{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 0.886rem;
    margin-bottom: 1em;
 }

/* Header Mobile CSS */
 header,nav,.logo-section{
    display: flex;
    flex-direction: row;
 }

 header{
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
 }

 header,.logo-section{
    align-items: center;
 }

 h1{
    font-family: 'Roboto', sans-serif;
    font-size: 0.813rem;
 }

 .logo{
    width: 23px;
    height: 23px;
    margin-right: 0.2em;
 }

 nav a{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    text-decoration: none;
    color: #000000;
    cursor: pointer;

 }

 nav a:first-child{
    margin-right: 2em;
 }


/* Top-Main Article Mobile CSS */
 .top-article{
    background-image: url("../images/article-image.png");
    background-repeat: no-repeat;
    background-size: cover;
   background-position: center;
    color: #ffffff;
    min-height: 293px;
    display: flex;
    align-items: end;
    
 }

 .top-article-words{
    padding: 0em 1.2em;
    margin-bottom: 1.2em;
    max-width: 600px;
 }

 h2{
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.3em;
 }

 .article-info{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.4;
 }



 @media screen and (min-width:1024px) {

    /*All Sections*/
    .date{
        font-size: 1rem;
    }


    /* Top-Main Article desktop CSS */
    .top-article{
        height: 488px;
     }

     .top-article-words{
        padding: 0em 1.2em;
        margin-bottom: 5em;
        
        max-width: 800px;
     }

     .article-info{
        max-width: 620px;
     }

     h2{
        font-size: 2.5rem;
     }

   
 }

 